.button {
  min-height: 2.5rem;
  max-width: 300px;
  padding: 0 1em;
  background-color: #d9d9d9;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  font-size: 0.9rem;
  will-change: box-shadow;
  transition: background-color 200ms linear;
  cursor: pointer;

  &:hover:not(&:disabled) {
    background-color: #c2c2c2;
    transition: background-color 200ms linear;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
  }
}
